@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
margin: 0;
padding: 0;
font-family: Times New Roman;
 background-image: url("../Logo/meteo2.png");  
background-size: cover;
color: black;
}

.Logo img{
    padding-top: 0%;
float: left;
padding-left:2%;
width:8%;
height:5%;
background-color: #cceeff;
 


}
.header i{
	padding-top: 2%;
    float: right;
    width: 10%;
    font-size: 70px;
    color: white;
}
 .header a{
  color:orange;
font-size: 17px;
margin-top:-10%;
    margin-left: 80%;
  
}
.header #P1{
   font-size: 20px;
    margin-left: 85%;
    margin-top: 0%;
    padding-top: 4%;
    font-weight: bold;

}

#pla {
    font-size: 20px;
    color: black;
    text-align: center;

}
#plo {
    font-size: 20px;
    color: black;
    text-align: center;

}

h1{

    font-size: 3em;
}
h2,h3{

    font-size: 2em;
}

section{

    font-family: 'Trebuchet MS';
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    padding-top: 100px;
   
}
i.wi{
    font-size: 5em;
    line-height:2em ;
}
header{
    background-color: #cceeff;
    height:130px;
    width: 100%;
   

}